<!doctype html>
<html class="no-js" lang="ja">
<head>
{{> meta}}

{{#block "css"}}
<link rel="stylesheet" href="/common/css/style.min.css">
{{/block}}

{{#block "js"}}
<script src="/common/js/lib/jquery-2.1.4.min.js"></script>
{{/block}}

{{#block "title"}}
{{/block}}
</head>
<body>
{{#block "header"}}
{{> header }}
{{/block}}

{{#block "body"}}
{{/block}}

{{#block "footer"}}
{{> footer }}
{{/block}}
</body>
</html>
