<meta charset="UTF-8">
<% if @viewport : %>
<meta name="viewport" content="width=<%- @viewport %>, user-scalable=yes">
<% else : %>
<meta name="viewport" content="width=1030, user-scalable=yes">
<% end %>
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<link rel="icon" type="image/png" href="/common/img/favicon.png">
<link rel="shortcut icon" type="image/png" href="/common/img/favicon.ico">
<link rel="apple-touch-icon" href="/common/img/apple-touch-icon.png">
